body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#grid {
  display: grid;
  gap: 0px 0px;
  width: 400px;
  height: 400px;
}

.grid-item {
  background-color: #c0c0c0;
  border: 1px solid #000;
}