@font-face {
  font-family: 'tsukimi_rounded_semiboldRg';
  src: url('../fonts/tsukimirounded-semibold-webfont.woff2') format('woff2'),
    url('../fonts/tsukimirounded-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'tsukimi_rounded_semiboldRg', 'Roboto', sans-serif;
}

#etch-a-sketch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 15, 30);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
}

#title {
  font-size: 2rem;
  color: rgb(250, 200, 60);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

#grid {
  display: grid;
  gap: 0px 0px;
  width: 400px;
  height: 400px;
  border: 1px solid #000;
}

.grid-item {
  background-color: #c0c0c0;
  cursor: pointer;
}

#controls {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}

#controls--left,
#controls--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

button {
  padding: 0.25rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 200, 60);
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-family: inherit;
}

#slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}